example/dashboard.json
[{"id":"bc190355.65837","type":"inject","z":"67255b57.3f5aa4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159,"y":105,"wires":[["94ef2cbe.454d"]]},{"id":"4b78115b.441d8","type":"debug","z":"67255b57.3f5aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":565,"y":105,"wires":[]},{"id":"94ef2cbe.454d","type":"ccxt-api","z":"67255b57.3f5aa4","name":"","exchange":"kraken","api":"customAPI","loadmarketsreload":false,"orderbooksymbol":"BTC/VEF","fetchtickersymbol":"LTC/BTC","fetchohlcvsymbol":"BTC/EUR","fetchohlcvtimeframe":"1h","fetchohlcvsince":"2019-02-11","fetchohlcvlimit":"","fetchtradessymbol":"","apitype":"private","apicustom":"Balance","apipayload":"{\"currency\":\"BTC\"}","payloadType":"json","x":352,"y":105,"wires":[["4b78115b.441d8"]]}]