example/dashboard.json
[{"id":"bc190355.65837","type":"inject","z":"67255b57.3f5aa4","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":149,"y":105,"wires":[["94ef2cbe.454d"]]},{"id":"4b78115b.441d8","type":"debug","z":"67255b57.3f5aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":565,"y":105,"wires":[]},{"id":"94ef2cbe.454d","type":"ccxt-api","z":"67255b57.3f5aa4","name":"Kraken API","exchange":"kraken","api":"customAPI","loadmarketsreload":false,"orderbooksymbol":"BTC/VEF","fetchtickersymbol":"LTC/BTC","fetchohlcvsymbol":"BTC/EUR","fetchohlcvtimeframe":"1h","fetchohlcvsince":"2019-02-11","fetchohlcvlimit":"","fetchtradessymbol":"","apisecrets":"8d526c3a.0ffe9","apitype":"private","apicustom":"post_Balance","apipayload":"{\"currency\":\"BTC\"}","payloadType":"json","x":362,"y":105,"wires":[["4b78115b.441d8"]]},{"id":"d75526f2.2e8ae8","type":"inject","z":"67255b57.3f5aa4","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":203,"wires":[["840d67ff.ec03e8"]]},{"id":"ace07451.1e6578","type":"debug","z":"67255b57.3f5aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":562,"y":203,"wires":[]},{"id":"840d67ff.ec03e8","type":"ccxt-api","z":"67255b57.3f5aa4","name":"Bittrex API","exchange":"bittrex","api":"customAPI","loadmarketsreload":false,"orderbooksymbol":"BTC/VEF","fetchtickersymbol":"LTC/BTC","fetchohlcvsymbol":"BTC/EUR","fetchohlcvtimeframe":"1h","fetchohlcvsince":"2019-02-11","fetchohlcvlimit":"","fetchtradessymbol":"","apisecrets":"fb64a75f.b76bc8","apitype":"account","apicustom":"get_balance","apipayload":"{\"currency\":\"BTC\"}","payloadType":"json","x":359,"y":203,"wires":[["ace07451.1e6578"]]},{"id":"8a553c09.c8d43","type":"catch","z":"67255b57.3f5aa4","name":"","scope":null,"x":221,"y":313,"wires":[["e834f206.92c8c"]]},{"id":"e834f206.92c8c","type":"debug","z":"67255b57.3f5aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","x":416,"y":313,"wires":[]},{"id":"8d526c3a.0ffe9","type":"ccxt-exchange","z":"","name":"Kraken Secrets"},{"id":"fb64a75f.b76bc8","type":"ccxt-exchange","z":"","name":"Bittrex Secrets"}]