example/dashboard.json
[{"id":"a3a6d979.889b","type":"ccxt-api","z":"4cc1be43.19f8e","name":"","exchange":"kraken","api":"customAPI","loadmarketsreload":false,"orderbooksymbol":"BCH/EUR","fetchtickersymbol":"BCH/EUR","fetchohlcvsymbol":"BCH/EUR","fetchohlcvtimeframe":"30m","fetchohlcvsince":"2019-02-15","fetchohlcvlimit":"","fetchtradessymbol":"BCH/EUR","x":300,"y":60,"wires":[["5455fbf8.44caec"]]},{"id":"30e46a90.fd24c6","type":"inject","z":"4cc1be43.19f8e","name":"Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["a3a6d979.889b"]]},{"id":"5455fbf8.44caec","type":"debug","z":"4cc1be43.19f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]}]